In [33]:
import numpy as np

grades = {'Andy': 88,'Amy': 66,'James': 90,'Jules': 55,'Arthur': 77}
def grades_func(student):
    if student in grades.keys():
        return grades[student]
    else:
        print("student name cannot be found")

grades_func('Amy')

66

In [23]:

sum(grades.values())/len(grades.values())

75.2

In [84]:
def myfunction1(num):
    n = 0
    while n > num:
        print('hi')
        n+=1
    print("greater than",num)

myfunction1(8)

greater than 8

In [85]:
def myfunction2(num):
    n = 1
    total = 0
    while n <= num:
        total += n
        n += 1
    print(total)

myfunction2(9)

45

In [37]:
def myfunction3(num):
    total = 0
    for n in range(1, num+1):
        total = total + n
        print(total)
        
myfunction3(8)

1
3
6
10
15
21
28
36

In [57]:
def myfunction4(list):
    mean = np.mean(list)
    sum = np.sum(list)
    SD = np.std(list)

    print('mean', mean)
    print('sum', sum)
    print('sd', SD)

list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,
         34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,
        64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,
        95,96,97,98,99,100]
myfunction4(list1)

mean 50.5
sum 5050
sd 28.86607004772212

In [90]:
def minimal(v1, v2, v3, v4):
    if v2 > v1:
        if v3 > v1:
            if v4 > v1:
                print(v1)
    else:
        if v1 > v2:
            if v3 > v2:
                if v4 > v2:
                    print (v2)
        else:
            if v1 > v3:
                if v2 > v3:
                    if v4 > v3:
                        print (v3)
            else:
                if v1 > v4:
                    if v2 > v4:
                        if v3 > v4:
                            print(v4)

minimal(1,2,3,4)

1

In [83]:
def myfunction5(x,y,z):
    return x+y+z

myfunction5('Hello','Hi','Hey')

'HelloHiHey'